.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  flex: 1 1 calc(30% - 20px); /* Diminuir mais a largura */
  box-sizing: border-box;
  min-height: 200px; /* Defina uma altura mínima */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.card:hover {
  background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.card img {
  max-width: 50px; /* Defina a largura máxima dos ícones */
  height: auto;
  margin-bottom: 8px;
}

.card h3 {
  margin: 8px 0;
}

.card h3 a {
  color: #007bff;
  text-decoration: none;
}

.card h3 a:hover {
  text-decoration: underline;
}
