.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.card {
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  padding: 12px;
  text-align: center;
  font-size: 1.5em;
  color: #007bff;
  border: #007bff solid 1px;
}

.responsive-img {
  max-width: 100%;
  min-width: 150px; /* Tamanho mínimo para a imagem */
  height: auto;
  display: block;
  margin: 0 auto;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .card {
    max-width: 90%;
    padding: 15px;
  }

  .card-title {
    font-size: 1.2em;
  }

  .responsive-img {
    min-width: 120px; /* Ajusta o tamanho mínimo para telas menores */
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }

  .card {
    max-width: 100%;
    padding: 10px;
  }

  .card-title {
    font-size: 1em;
  }

  .responsive-img {
    width: 150px; /* Tamanho fixo para a imagem em telas muito pequenas */
    min-width: unset; /* Remove o min-width */
  }

  .mat-form-field {
    margin-bottom: 12px;
  }
}
