.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #0b2931;
  color: white;
}

.left-side {
  display: flex;
  align-items: center;

  h1 {
    color: white;
  }
}

.logo {
  width: 65px;
  height: 50px;
  // background: transparent;
  // background-color: rgba(95, 158, 160, 0.5);
}

.center-screen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: white;
  }
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.language-icons {
  display: flex;
  gap: 10px;
  align-items: center;

  .flag-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.separator {
  margin: 0 10px;
  color: white;
  font-size: 20px;
}

.logout-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white !important;

  mat-icon {
    color: white !important;
    margin-right: 8px;
  }
}

.encerra-sessao {
  ::ng-deep .mat-mdc-list-item {
    color: white !important;
  }

  ::ng-deep .mdc-list-item__primary-text {
    color: white !important;
  }

  ::ng-deep .mat-mdc-list-item-unscoped-content {
    color: white !important;
  }
}
