<header class="header" *ngIf="!isLoginScreen">
  <mat-toolbar class="toolbar" color="primary">
    <div class="left-side">
      <img src="assets/images/Logotipo.svg" alt="Logotipo" class="logo" />
      <!-- Exibir imagem Logotipo.png -->
    </div>
    <div class="user-info center-screen" *ngIf="nomeUsuario">
      <span> {{ "LABLE_BEM_VINDO" | translate }}, {{ nomeUsuario }}</span>
    </div>
    <div class="right-side">
      <div class="language-icons">
        <img
          src="assets/icons/brazil-flag-icon.svg"
          alt="Português"
          class="flag-icon"
          tabindex="0"
          (click)="changeLanguage('pt')"
          (keydown.enter)="changeLanguage('pt')"
        />
        <img
          src="assets/icons/united-kingdom-flag-icon.svg"
          alt="English"
          class="flag-icon"
          tabindex="0"
          (click)="changeLanguage('en')"
          (keydown.enter)="changeLanguage('en')"
        />
      </div>
      <span class="separator">|</span>
      <div class="encerra-sessao">
        <mat-list-item
          class="clickable logout-item"
          *ngIf="!isLoginScreen"
          tabindex="0"
          (click)="logout()"
          (keydown.enter)="logout()"
        >
          <mat-icon mat-list-icon>logout</mat-icon>
          {{ "LABLE_SAIR" | translate }}
        </mat-list-item>
      </div>
    </div>
  </mat-toolbar>
</header>
