<main class="main-container">
  <div class="content-wrapper">
    <h2 class="page-title">{{ "TITLE_USUARIOS" | translate }}</h2>

    <div class="filters-section">
      <h3 class="filters-title">{{ "TITLE_FILTROS" | translate }}:</h3>
      <div class="filters-container">
        <mat-form-field appearance="outline">
          <mat-label>{{ "LABLE_NOME" | translate }}</mat-label>
          <input
            matInput
            #nomeInput
            placeholder="{{ 'LABLE_FILTRAR_NOME' | translate }}"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ "LABLE_EMAIL" | translate }}</mat-label>
          <input
            matInput
            #emailInput
            placeholder="{{ 'LABLE_FILTRAR_EMAIL' | translate }}"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ "LABLE_DATA_NASCIMENTO" | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            #dataNascimentoInput
            (dateInput)="onDateInput($event)"
            placeholder="{{ 'LABLE_FILTRAR_DATA_NASCIMENTO' | translate }}"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>{{ "LABLE_PERFIL" | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            #dataNascimentoInput
            (dateInput)="onDateInput($event)"
            placeholder="{{ 'LABLE_FILTRAR_PERFIL' | translate }}"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <mat-form-field appearance="fill">
          <mat-label>{{ "LABLE_PERFIL" | translate }}</mat-label>
          <mat-select multiple>
            <mat-option
              *ngFor="let option of options"
              [value]="option"
              (click)="toggleSelection(option)"
            >
              {{ option.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="actions-container">
        <button mat-raised-button color="primary" (click)="applyFilters()">
          <mat-icon>search</mat-icon>
          {{ "LABLE_PESQUISAR_USUARIOS" | translate }}
        </button>

        <button
          mat-raised-button
          color="accent"
          (click)="navigateToCadastroUsuario()"
        >
          <mat-icon>add</mat-icon>
          {{ "LABLE_CADASTRAR" | translate }}
        </button>

        <button
          mat-raised-button
          color="warn"
          (click)="limparFiltros(nomeInput, emailInput, dataNascimentoInput)"
        >
          <mat-icon>clear</mat-icon>
          {{ "LABLE_LIMPAR_FILTROS" | translate }}
        </button>
      </div>
    </div>

    <div class="table-container mat-elevation-z8">
      <mat-table [dataSource]="usuarios" matSort>
        <!-- Colunas da tabela -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "LABLE_NOME" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ usuario.nome }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "LABLE_EMAIL" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ usuario.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataNascimento">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "LABLE_DATA_NASCIMENTO" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{
            usuario.dataNascimento
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="perfis">
          <mat-header-cell *matHeaderCellDef>
            {{ "LABLE_PERFIS" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let usuario">
            <span *ngFor="let perfil of usuario.perfis; let i = index">
              {{ perfil.nome }}{{ i < usuario.perfis.length - 1 ? ", " : "" }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef class="actions-column">
            {{ "LABLE_ACOES" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let usuario" class="actions-column">
            <button
              mat-icon-button
              color="primary"
              (click)="cadastroUsuario(usuario.id, 'Detalhar')"
              matTooltip="{{ 'LABLE_DETALHAR_USUARIO' | translate }}"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              color="accent"
              (click)="cadastroUsuario(usuario.id, 'Alterar')"
              matTooltip="{{ 'LABLE_ALTERAR_USUARIO' | translate }}"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="excluirUsuario(usuario.id)"
              matTooltip="{{ 'LABLE_EXCLUIR_USUARIO' | translate }}"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        [length]="totalUsuarios"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</main>
