/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
}

#app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.snackbar-multiline .mat-simple-snackbar {
  white-space: pre-line;
}

.titulo-usuarios {
  padding-left: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-and-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filtros {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  // align-items: auto;
}

.left-margin {
  margin-left: 10px;
}

.align-right {
  margin-left: 10px;
}

.filtros-titulo {
  padding-left: 10px;
}

.custom-header-cell {
  background-color: cadetblue !important;
  color: white !important;
}
