<main>
  <h2 class="titulo-usuarios">{{ "TITLE_USUARIOS" | translate }}</h2>
  <div class="search-and-buttons-container">
    <div id="filtros">
      <h3 class="filtros-titulo">{{ "TITLE_FILTROS" | translate }}:</h3>
      <mat-form-field
        appearance="outline"
        class="example-full-width left-margin"
        style="display: inline-block; vertical-align: middle"
      >
        <mat-label class="label">{{ "LABLE_NOME" | translate }}</mat-label>
        <input
          matInput
          placeholder="{{ 'LABLE_FILTRAR_NOME' | translate }}"
          #nomeInput
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="example-full-width left-margin"
        style="display: inline-block; vertical-align: middle"
      >
        <mat-label class="label">{{ "LABLE_EMAIL" | translate }}</mat-label>
        <input
          matInput
          placeholder="{{ 'LABLE_FILTRAR_EMAIL' | translate }}"
          #emailInput
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="example-full-width left-margin"
        style="
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        "
      >
        <mat-label class="label">{{
          "LABLE_DATA_NASCIMENTO" | translate
        }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="{{ 'LABLE_FILTRAR_DATA_NASCIMENTO' | translate }}"
          #dataNascimentoInput
          (dateInput)="onDateInput($event)"
          appDateFormat
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div id="botoes" class="button-container">
      <button
        mat-icon-button
        aria-label="Pesquisar"
        (click)="
          loadUsuarios({
            nome: nomeInput.value,
            email: emailInput.value,
            dataNascimento: dataNascimentoInput.value
          })
        "
      >
        <mat-icon
          color="primary"
          class="icon-background"
          matTooltip="Pesquisar usuários"
          >search</mat-icon
        >
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="navigateToCadastroUsuario()"
        class="align-right"
        aria-label="Cadastrar novo usuário"
      >
        Cadastrar
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="limparFiltros(nomeInput, emailInput, dataNascimentoInput)"
        class="align-right"
        aria-label="Limpar filtros"
      >
        Limpar Filtros
      </button>
    </div>
  </div>
  <div>
    <div class="table-container">
      <div class="table-frame">
        <mat-table [dataSource]="usuarios" matSort class="bordered-table">
          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell">
              {{ "LABLE_NOME" | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let usuario"> {{ usuario.nome }} </mat-cell>
          </ng-container>
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell">{{
              "LABLE_EMAIL" | translate
            }}</mat-header-cell>
            <mat-cell *matCellDef="let usuario"> {{ usuario.email }} </mat-cell>
          </ng-container>
          <!-- Data de Nascimento Column -->
          <ng-container matColumnDef="dataNascimento">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell">{{
              "LABLE_DATA_NASCIMENTO" | translate
            }}</mat-header-cell>
            <mat-cell *matCellDef="let usuario">
              {{ usuario.dataNascimento }}
            </mat-cell>
          </ng-container>

          <!-- Perfis Column -->
          <ng-container matColumnDef="perfis">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell">{{
              "LABLE_PERFIS" | translate
            }}</mat-header-cell>
            <mat-cell *matCellDef="let usuario">
              <span *ngFor="let perfil of usuario.perfis; let i = index">
                {{ perfil.nome }}{{ i < usuario.perfis.length - 1 ? ", " : "" }}
              </span>
            </mat-cell>
          </ng-container>

          <!-- Ações Column -->
          <ng-container matColumnDef="acoes">
            <mat-header-cell *matHeaderCellDef class="custom-header-cell">{{
              "LABLE_ACOES" | translate
            }}</mat-header-cell>
            <mat-cell *matCellDef="let usuario">
              <button
                mat-icon-button
                (click)="cadastroUsuario(usuario.id, 'Detalhar')"
              >
                <mat-icon color="primary" matTooltip="Detalhar usuário"
                  >visibility</mat-icon
                >
              </button>
              <button
                mat-icon-button
                (click)="cadastroUsuario(usuario.id, 'Alterar')"
              >
                <mat-icon color="primary" matTooltip="Alterar usuário"
                  >edit</mat-icon
                >
              </button>
              <button mat-icon-button (click)="excluirUsuario(usuario.id)">
                <mat-icon color="primary" matTooltip="Excluir usuário"
                  >delete</mat-icon
                >
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          #paginator
          [length]="totalUsuarios"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="pageSizeOptions"
          [disabled]="false"
          showFirstLastButtons="true"
          (page)="
            loadUsuarios({
              nome: nomeInput.value,
              email: emailInput.value,
              dataNascimento: dataNascimentoInput.value,
              event: $event
            })
          "
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</main>
<ng-template #loading>
  <p>Carregando dados...</p>
</ng-template>
<app-footer></app-footer>
