<app-header></app-header>
<main class="main-container">
  <div class="content-wrapper">
    <h2 class="page-title">{{ "TITLE_UNIDADES_FEDERAIS" | translate }}</h2>

    <div class="filters-section">
      <h3 class="filters-title">{{ "TITLE_FILTROS" | translate }}:</h3>
      <div class="filters-container">
        <mat-form-field appearance="outline">
          <mat-label>{{ "LABLE_NOME" | translate }}</mat-label>
          <input
            matInput
            #nomeInput
            placeholder="{{ 'LABLE_FILTRAR_NOME' | translate }}"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ "LABLE_SIGLA" | translate }}</mat-label>
          <input
            matInput
            #siglaInput
            placeholder="{{ 'LABLE_FILTRAR_SIGLA' | translate }}"
          />
        </mat-form-field>
      </div>

      <div class="actions-container">
        <button
          mat-raised-button
          color="primary"
          (click)="
            loadUnidadesFederativas({
              nome: nomeInput.value,
              sigla: siglaInput.value
            })
          "
        >
          <mat-icon>search</mat-icon>
          {{ "LABLE_PESQUISAR" | translate }}
        </button>

        <button
          mat-raised-button
          color="warn"
          (click)="limparFiltros(nomeInput, siglaInput)"
        >
          <mat-icon>clear</mat-icon>
          {{ "LABLE_LIMPAR_FILTROS" | translate }}
        </button>
      </div>
    </div>

    <div class="table-container mat-elevation-z8">
      <mat-table [dataSource]="unidadesFederativas" matSort>
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "LABLE_NOME" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let uf">{{ uf.nome }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sigla">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "LABLE_SIGLA" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let uf">{{ uf.sigla }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        [length]="totalUfs"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</main>
