.categorias-container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
}

.table {
  width: 100%;
  margin-top: 20px;
}
