<footer
  class="app-footer"
  style="
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 20px;
  "
>
  <mat-toolbar
    color="primary"
    class="example-toolbar"
    style="padding: 20px; text-align: center; margin-top: 20px"
  >
    <div
      class="footer-content"
      style="
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <p>&copy; 2024 Minha Empresa. Todos os direitos reservados.</p>
      <!-- <p>Siga-nos nas redes sociais:
        <a href="https://www.facebook.com" target="_blank">Facebook</a> |
        <a href="https://www.twitter.com" target="_blank">Twitter</a> |
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
      </p>
      <p><a href="mailto:contato@minhaempresa.com">Contato</a></p> -->
    </div>
  </mat-toolbar>
</footer>
