.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #f0f0f0;
  margin-top: 0px;
}

.footer-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 0px;
  margin-top: 0px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content a {
  color: white; /* Altere a cor da fonte aqui */
  text-decoration: none; /* Remove o sublinhado */
  margin: 0 10px; /* Espaçamento entre os links */
}

.footer-content a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.language-icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.flag-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  cursor: pointer;
}
