.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total da viewport */
}

.header {
  flex: 0 0 auto; /* Altura fixa para o header */
}

.body {
  display: flex;
  flex: 1; /* O corpo ocupa o restante do espaço */
}

.menu {
  flex: 0 0 auto; /* Largura fixa para o menu */
  transition: width 0.3s; /* Transição suave para a largura */
}

.content {
  flex: 1;
  overflow-y: auto; /* Rolagem vertical se necessário */
  transition: margin-left 0.3s; /* Transição suave para a margem */
}
