.menu-wrapper {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: cadetblue;
}

.menu-container {
  width: 250px;
  height: 100%;
  transition: width 0.3s ease;

  &.collapsed {
    width: 65px;

    .mat-list-item-content {
      padding: 0 10px;
    }
  }
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: white;

  mat-icon {
    margin-right: 16px;
    color: white;
  }

  span {
    color: white;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.open-btn {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: cadetblue;
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

mat-nav-list {
  padding-top: 0;
}

.mat-list-item {
  height: 48px;
}
