<div class="nova-senha-container">
  <mat-card class="card-title">
    <mat-card-header class="custom-card-header">
      <mat-card-title>{{ "TITLE_NOVA_SENHA" | translate }}</mat-card-title>
    </mat-card-header>

    <div>
      <p>Token Válido: {{ tokenValido }}</p>
    </div>

    <mat-card-content>
      <div *ngIf="tokenValido">
        <p>ID: {{ usuario?.id }}</p>
        <p>Email: {{ usuario?.email }}</p>
        <p>Nome: {{ usuario?.nome }}</p>
      </div>

      <form [formGroup]="novaSenhaForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="senha-field">
          <mat-label>{{ "TITLE_NOVA_SENHA" | translate }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="novaSenha"
            required
          />
          <mat-error
            *ngIf="novaSenhaForm.get('novaSenha').hasError('required')"
          >
            {{ "LABLE_NOVA_SENHA_OBRIGATORIA" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="senha-field">
          <mat-label>{{ "LABLE_CONFIRME_NOVA_SENHA" | translate }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmaSenha"
            required
          />
          <mat-error
            *ngIf="novaSenhaForm.get('confirmaSenha').hasError('required')"
          >
            {{ "LABLE_CONFIRMACAO_SENHA_OBRIGATORIA" | translate }}
          </mat-error>
          <mat-error *ngIf="novaSenhaForm.hasError('senhasDiferentes')">
            {{ "LABLE_SENHAS_DIFERENTES" | translate }}
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button class="nova-senha-button" type="submit">
            {{ "LABLE_SALVAR_NOVA_SENHA" | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
